##############################################
# SCENE CONFIGURATION for the IEEEconf paper
##############################################
#
# HOW TO USE THIS FILE
# Scene configuration files use the well known config file syntax, consisting of
# sections enclosed in square brakets, containing items in the key=value syntax.
# The CONFIG section provides general parameters for the simulation and the
# scene and is not optional, all other sections are optional. Sections have to
# have a unique name, so there is a need to give an identifier to every object
# in the scene.
# There are neuron and tetrode sections. For each section in the file an attempt
# to create a respective object is untertake, wether it contains items or not.
# Misconfigured sections will be skipped. A scheme of correct section and item
# syntax is given below. Default values are shown in curly braces.
#
# [Neuron <identifier string>]
#   cluster=int {None}
#       The cluster id. Neurons can be part of a cluster or singletons.
#       Singletons can be created by seting cluster=None or ommiting cluster. Or
#       specifiing a new /unused cluster id. Otherwise the Neuron will be added
#       to the existing cluster.
#   position=float float float {0.0 0.0 0.0}
#       Position in scene (x,y,z).
#   orientation=bool OR float float float {False}
#       Orientation as triple of euler angles (x-angle, y-angle, z-angle in
#       degrees) relative to the scene's positive z-axis. If True a random
#       orientation, if False no destinct is created.
#   rate_of_fire=float {10.0}
#       Rate of fire for the neuron in Hz.
#   amplitude=float {1.0}
#       Rescaling factor for the amplitude of the waveform.
#   neuron_data=filename
#       Filename of a HDF5 archive to load the waveform data from. This actually
#       is the only required item for Neuron sections. Should be the filename
#       without the path. It has to be present in one of the directories in
#       neuron_data_dirs.
#
# [Tetrode <identifier string>]
#   position=float float float {0.0 0.0 0.0}
#       Position in scene (x,y,z). The start position and origin of the
#       trajectory.
#   orientation=float float float {0.0 0.0 1.0}
#       The movement trajectory of the Tetrode. The Tetrode will start at the
#       initial position, moving along a trajectory given by orientation. The
#       distance along this vector mesured from the initial position in µm is
#       reported as the recorders current position.
#   snr=float {1.0}
#       Signal to Noise Ratio (SNR) for the noise process. [currently fishy ..]
#
# [CONFIG]
#   neuron_data_dir=
#       path1
#       path2
#
#       This is a set of paths to directories where neuron data archives are
#       located. One path per line! Either paths relative to the home of the
#       simulation, or absolute paths on the local filesystem.
#   sample_rate=float {16.000}
#       Set the sample rate for this scene setting.
#   frame_size=int {None}
#       Set the frame size for this scene. You should have a good reason to set
#       thisvmanually, as this will be determined automativally, according to
#       the sample rate. There are favorable frame sizes for specific sample
#       rates.
#
##############################################


##### CONFIG ##### not optional!
[CONFIG]
neuron_data_dir=
    C:\SVN\Data\Einevoll
    /home/phil/SVN/Data/Einevoll


##### RECORDER #####
[Tetrode the recorder]
snr=10.0


##### CLUSTER A ##### 5 neurons, around 150µm along trajectory
[Neuron the test neuron]
rate_of_fire=35
neuron_data=LFP-20100516_235702.h5

##### EOF #####
