# -*- coding: utf-8 -*-
#
# sim - simulation.cfg
#
# Philipp Meier - <pmeier82 at gmail dot com>
# 2010-04-01
#
# $Id: simulation.cfg 4602 2010-04-21 09:05:51Z phil $
#

##########################
# simulation config file #
##########################
# HOW TO USE THIS FILE
# Scene configuration files use the well known config file syntax, consisting of
# sections enclosed in square brakets, containing items in the key=value syntax.
# The CONFIG section provides general parameters for the simulation and the
# scene and is not optional, all other sections are optional. Sections have to
# have a unique name, so there is a need to give an identifier to every object
# in the scene.
# There are neuron and tetrode sections. For each section in the file an attempt
# to create a respective object is untertake, wether it contains items or not.
# Misconfigured sections will be skipped. A scheme of correct section and item
# syntax is given below. Default values are shown in curly braces.



[NUMERICS]

# either 32bit (single) or 64bit (double) float precisition
precisition=32


##### EOF #####